@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    background-color: #F8C8DC;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 30%;
}

.header_text {
    font-weight: bolder;
    font-size: 40px;
    color: white;

}

img {
    height: 500px;
    width: 500px;
}

.btn {
    background-color: #FFB6C1;
    border: none;
    border-radius: 12px;
    padding: 15px 32px;
    text-align: center;
    cursor: pointer;
    color: white;
    font-size: 16px;
    position: relative;
    overflow: hidden;
}

#yesButton {
    margin-right: 4vw;
    margin-left: -6vw;
}

#noButton {
    position: absolute;
    overflow: hidden;
}